In [14]:
import pymongo
import pandas as pd

In [86]:
client = pymongo.MongoClient("localhost",27017)

#Testando o localhost se esta conectado.
print(client.list_database_names())

['Alura_series', 'Empressas9', 'Estudo_MongoDB', 'admin', 'business', 'config', 'local', 'teste2']

In [28]:
df = pd.read_csv("Estabelecimentos9/K3241.K03200Y9.D30211.ESTABELE", delimiter=";", encoding="ISO-8859-1", header= None, low_memory=False)

In [27]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,41593494,1,42,1,ANDRE LUIZ RODRIGUES DE LIRA,2,20210415,0,NaN,NaN,...,2427,81,96700501,NaN,NaN,NaN,NaN,TACIANACONTABIL@HOTMAIL.COM,NaN,NaN
1,38096375,1,70,1,DIELEN DE OLIVEIRA,2,20200814,0,NaN,NaN,...,8367,48,99296061,NaN,NaN,NaN,NaN,DIELENPACHECO@GMAIL.COM,NaN,NaN
2,36114717,1,1,1,MT CONSTRUCOES,2,20200123,0,NaN,NaN,...,6001,21,27640068,NaN,NaN,NaN,NaN,MARCIOLUIZPORTOPINTO@ICLOUD.COM,NaN,NaN
3,41593522,1,21,1,NaN,2,20210415,0,NaN,NaN,...,7563,45,99895248,NaN,NaN,NaN,NaN,VICTORHTP3@GMAIL.COM,NaN,NaN
4,41593533,1,1,1,ALTAIR ROCHA,8,20221026,1,NaN,NaN,...,427,91,82672035,NaN,NaN,NaN,NaN,ALTAIRMURTA@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,32670413,1,70,1,KAYKY DISTRIBUIDORA,2,20190205,0,NaN,NaN,...,9785,62,99668977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,32670428,1,38,1,CRISTIANO FISCHER,8,20200624,1,NaN,NaN,...,8791,53,32239027,NaN,NaN,NaN,NaN,cristianofischer95@gmail.com,NaN,NaN
4753432,32670439,1,18,1,NVERSATIL CONFECCOES,8,20190802,1,NaN,NaN,...,595,94,48130303,NaN,NaN,NaN,NaN,robson.dmtt@gmail.com,NaN,NaN
4753433,32670449,1,53,1,LUCIANA AMAKHA PARIS,4,20220210,63,NaN,NaN,...,4733,32,91006405,NaN,NaN,NaN,NaN,cerqueira.luciana0106@gmail.com,NaN,NaN
4753434,32670460,1,13,1,JULIANA DA SILVA ALVES,2,20190205,0,NaN,NaN,...,7107,11,27516800,NaN,NaN,NaN,NaN,juliana_alves05@outlook.com,NaN,NaN

In [29]:
df.columns = ['CNPJ BÁSICO',
              'CNPJ ORDEM',
              'CNPJ DV',
              'IDENTIFICADOR MATRIZ/FILIAL',
              'NOME FANTASIA',
              'SITUAÇÃO CADASTRAL',
              'DATA SITUAÇÃO CADASTRAL',
              'MOTIVO SITUAÇÃO CADASTRAL',
              'NOME DA CIDADE NO EXTERIOR',
              'PAIS',
              'DATA DE INÍCIO ATIVIDADE',
              'CNAE FISCAL PRINCIPAL',
              'CNAE FISCAL SECUNDÁRIA',
              'TIPO DE LOGRADOURO',
              'LOGRADOURO',
              'NÚMERO',
              'COMPLEMENTO',
              'BAIRRO',
              'CEP',
              'UF',
              'MUNICÍPIO',
              'DDD 1',
              'TELEFONE 1',
              'DDD 2',
              'TELEFONE 2',
              'DDD DO FAX',
              'FAX',
              'CORREIO ELETRÔNICO',
              'SITUAÇÃO ESPECIAL',
              'DATA DA SITUAÇÃO ESPECIAL']
df.head(2)

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,IDENTIFICADOR MATRIZ/FILIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,NOME DA CIDADE NO EXTERIOR,PAIS,...,MUNICÍPIO,DDD 1,TELEFONE 1,DDD 2,TELEFONE 2,DDD DO FAX,FAX,CORREIO ELETRÔNICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL
0,41593494,1,42,1,ANDRE LUIZ RODRIGUES DE LIRA,2,20210415,0,NaN,NaN,...,2427,81,96700501,NaN,NaN,NaN,NaN,TACIANACONTABIL@HOTMAIL.COM,NaN,NaN
1,38096375,1,70,1,DIELEN DE OLIVEIRA,2,20200814,0,NaN,NaN,...,8367,48,99296061,NaN,NaN,NaN,NaN,DIELENPACHECO@GMAIL.COM,NaN,NaN

In [45]:
df2 = df.filter(items=['CNPJ BÁSICO', 'CNPJ ORDEM', 'CNPJ DV', 'NOME FANTASIA', 'CEP', 'DDD 1', 'TELEFONE 1', 'CORREIO ELETRÔNICO']).head(10)

In [46]:
df2.head(10)

,CNPJ BÁSICO,CNPJ ORDEM,CNPJ DV,NOME FANTASIA,CEP,DDD 1,TELEFONE 1,CORREIO ELETRÔNICO
0,41593494,1,42,ANDRE LUIZ RODRIGUES DE LIRA,55641110.0,81,96700501,TACIANACONTABIL@HOTMAIL.COM
1,38096375,1,70,DIELEN DE OLIVEIRA,88701495.0,48,99296061,DIELENPACHECO@GMAIL.COM
2,36114717,1,1,MT CONSTRUCOES,22040020.0,21,27640068,MARCIOLUIZPORTOPINTO@ICLOUD.COM
3,41593522,1,21,NaN,85870030.0,45,99895248,VICTORHTP3@GMAIL.COM
4,41593533,1,1,ALTAIR ROCHA,66063000.0,91,82672035,ALTAIRMURTA@GMAIL.COM
5,41593543,1,47,JOAO FELIPE,38480000.0,34,93311700,JHOMLIPY16@GMAIL.COM
6,41593552,1,38,FLOR E PAZ PAISAGISMO,67130200.0,91,80659158,SUBMARINHO@BOL.COM.BR
7,41593564,1,62,SLP CONSULTORIA,1415000.0,11,69090842,SANDRACDPAM@HOTMAIL.COM
8,41593576,1,97,BORACAI,35501189.0,37,91108235,NAVEGANTESDUDU@GMAIL.COM
9,40539766,1,63,JEOZADAQUE PINHEIRO TEIXEIRA,72255205.0,61,91031469,DAKETEIXEIRA1010@GMAIL.COM

In [47]:
df2.to_csv('Estabelecimento_att.csv')